---
import MainLayout from '../layouts/MainLayout.astro';
import BookCard from '../components/BookCard.astro';
import { books } from '../data/books';

---

<MainLayout title="Books | John Blanchard Jefferson">
  <section>
    <h1>Books by John Blanchard Jefferson</h1>
    <div class="books-grid">
      {books.map(book => (
        <BookCard {...book} />
      ))}
    </div>
  </section>
</MainLayout>

<style>
h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-bottom: 2rem;
}



.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 1920px;
  margin: auto;
  
}
</style>
