---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import HeroNew from "../components/HeroNew.astro";
import { Image } from "astro:assets";
import flhpost from "../assets/flhpost.jpg";
import trhpost from "../assets/trpost.jpg";
import cimockup from "../assets/cimockup.jpg";
---

<MainLayout title="Home | John Blanchard Jefferson">
  <HeroNew />
  
  <br />

  <div class="socials">
    <a
      href="https://x.com/jbjefferson"
      target="_blank"
      rel="noopener"
      aria-label="Visit our X profile"
    >
      <ion-icon size="large" name="logo-x"></ion-icon>
    </a>
    <a
      href="https://www.instagram.com/johnblanchardjeffersonbooks/"
      target="_blank"
      rel="noopener"
      aria-label="Visit our Instagram profile"
    >
      <ion-icon size="large" name="logo-instagram"></ion-icon>
    </a>
    <a
      href="https://www.facebook.com/profile.php?id=61575078969345"
      target="_blank"
      rel="noopener"
      aria-label="Visit our Facebook profile"
    >
      <ion-icon size="large" name="logo-facebook"></ion-icon>
    </a>
    <a
      href="https://www.tiktok.com/@jbjeffersonbooks"
      target="_blank"
      rel="noopener"
      aria-label="Visit our TikTok profile"
    >
      <ion-icon size="large" name="logo-tiktok"></ion-icon>
    </a>
  </div>

  <br />

  <div style="display: flex; justify-content: center;">
    <Image
      src={cimockup}
      alt="Crooked Idols Available Now"
      style="max-width: 100%; height: auto;"
    />
  </div>
  <br />
  <div style="display: flex; justify-content: center;">
    <Image
      src={trhpost}
      alt="Timid Revenge Available Now"
      style="max-width: 100%; height: auto;"
    />
  </div>
  <br />
  <div style="display: flex; justify-content: center;">
    <Image
      src={flhpost}
      alt="Flight Level Heist Available Now"
      style="max-width: 100%; height: auto;"
    />
  </div>
</MainLayout>

<style>
  .socials {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
  }
  .socials a {
    color: #f5f5f5;
    text-decoration: none;
    font-weight: 600;
  }
  .socials a:hover {
    color: #cc0000;
  }
  .socials ion-icon {
    transition: color 0.3s ease;
  }
</style>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.js"></script>
